<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container" style="margin-left:0px; margin-top: 20px">
    <h5>Список таблиц:</h5>
    <form method="post" th:action="@{/}">
        <div class="form-group">
            <select class="form-control" id="tableSelect" name="tableSelect" style="width:25%">
                <option value="">Выберите таблицу</option>
                <th:block th:each="tableName : ${tableNames}">
                    <option th:text="${tableName}"></option>
                </th:block>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Отправить</button>
    </form>
</div>
<div class="container" style="margin-top: 20px;margin-left: 0px">
    <h5>Выбранная таблица: <span th:text="${tableName}"></span></h5>
</div>
<div th:if="${selectedTable}">

    <table class="table" align="center" border="1px" style="width:50%">
        <thead>
        <tr>
            <th>microcategory_id</th>
            <th>location_id</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="baselineMatrix : ${selectedTable}">
            <td th:text="${baselineMatrix['microcategory_id']}"></td>
            <td th:text="${baselineMatrix['location_id']}"></td>
            <td th:text="${baselineMatrix['price']}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>